@media (max-width: 1440px) {

  /* contacts-1440 */

  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 38px;
  }

  .form-contacts {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 28px;
    padding-left: 1px;
  }

  .contacts__address {
    margin-bottom: 31px;
  }

  /* catalog-1440 */

  .accordion-catalog__content--active .accordion-catalog__wrapper {
    max-height: 470px;
  }

  .accordion-catalog__content--active .accordion-catalog__list {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    margin-bottom: 6%;
    max-height: 420px;
  }

  .accordion-catalog__default-block {
    justify-content: center;
    padding-top: 0;
  }

  .accordion-catalog__default-image {
    margin-right: 32px;
    width: 200px;
    height: 114px;
    outline-offset: 6px;
  }

  .accordion-catalog__list {
    padding-right: 0;
  }

  .accordion-catalog__default-title {
    margin-bottom: 13px;
    line-height: 16px;
  }

  .accordion-catalog__default-text {
    width: 100%;
  }

  @-webkit-keyframes accordion-anim {
    0% {
      max-height: 0;
    }

    30% {
      display: block;
    }

    100% {
      max-height: 470px;
    }
  }

  @keyframes accordion-anim {
    0% {
      max-height: 0;

    }

    30% {
      display: block;
    }

    100% {
      max-height: 470px;
    }
  }

  /* events-1440 */

  .swiper-events {
    padding-right: 29px;
    padding-left: 19px;
  }

  /* projects-1440 */

  .projects__text {
    width: 100%;
  }
}

@media (max-width: 1200px) {

  /* header-1200 */

  .header__top-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .header__invinsible {
    display: block;
    width: 37px;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__burger:focus-visible .header__burger-line,
  .header__burger:hover:not(:focus-visible) .header__burger-line {
    background-color: var(--hover-color);
  }

  .header__burger:active:not(:focus-visible) .header__burger-line {
    background-color: var(--active-color);
  }

  .header__nav {
    display: none;
  }

  .header__nav.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    padding-top: 96px;
    padding-left: 48px;
    height: calc(100vh - 96px);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .nav-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: auto;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    overflow-y: scroll;
  }

  .nav-header__item:not(:last-child) {
    margin-right: 0;
  }

  .nav-header__link {
    font-size: 24px;
    line-height: 64px;
  }

  .login-header {
    display: none;
    -webkit-transition-property: background-color, outline, outline-offset;
    -o-transition-property: background-color, outline, outline-offset;
    transition-property: background-color, outline, outline-offset;
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }

  .login-header__icon {
    width: 19px;
    height: 13px;
    padding-right: 6px;
  }

  .login-header.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 44px;
    padding: 17px 0px 14px 88px;
    width: 260px;
    border: 2px solid var(--hover-color);
    border-radius: 100px;
  }

  .login-header:focus-visible {
    outline: 2px solid #C283F3;
    outline-offset: 5px;
  }

  .login-header:focus-visible::before {
    opacity: 0;
  }

 .login-header:hover:not(:focus-visible) {
    color: var(--main-color);
    background-color: var(--hover-color);
  }

  .login-header__icon path {
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  .login-header:hover:not(:focus-visible) .login-header__icon path {
    fill: var(--main-color);
  }

  .login-header:active:not(:focus-visible) {
    outline: 3px solid var(--other-color);
    color: var(--main-color);
    background-color: var(--hover-color);
  }

  .login-header:active:not(:focus-visible) {
    color: var(--main-color);
  }

  .login-header:active:not(:focus-visible) .login-header__icon path {
    fill: var(--main-color);
  }

  .header__bottom-block {
    position: static;
    background: none;
  }

  .header__wrapper {
    padding: 0;
  }

  .menu-header {
    display: none;
  }

  .header__search {
    position: absolute;
    top: 32px;
    right: 3.7%;
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out
  }

  .header__search svg rect,
  .header__search svg path {
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  .header__search:focus-visible:not(.active) svg rect,
  .header__search:hover:not(:focus-visible) svg rect {
    fill: var(--hover-color);
  }

  .header__search:focus-visible:not(.active) svg path,
  .header__search:hover:not(:focus-visible) svg path {
    fill: var(--hover-color);
  }

  .header__search:active:not(:focus-visible) svg rect {
    fill: var(--active-color);
  }

  .header__search:active:not(:focus-visible) svg path {
    fill: var(--active-color);
  }

  .header__search.active {
    right: 31.3%;
  }

  .header__form {
    position: absolute;
    right: -40.5%;
    display: none;
  }

  .header__form.active {
    top: 39px;
    right: 10.1%;
    display: block;
    width: 21.2%;
  }

  .header__input::-webkit-input-placeholder {
    font-size: 0;
  }

  .header__input::-moz-placeholder {
    font-size: 0;
  }

  .header__input:-ms-input-placeholder {
    font-size: 0;
  }

  .header__input::-ms-input-placeholder {
    font-size: 0;
  }

  .header__input::placeholder {
    font-size: 0;
  }

  .header__close {
    position: absolute;
    right: -21.5%;
    display: none;
  }

  .header__close.active {
    top: 42px;
    right: 5.5%;
    display: block;
  }

  .header__close svg rect {
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  .header__close.active:focus-visible svg rect,
  .header__close.active:hover:not(:focus-visible) svg rect {
    fill: var(--hover-color);
  }

  .header__close.active:active:not(:focus-visible) svg rect {
    fill: var(--active-color);
  }

  .search-header__icon {
    width: 31px;
    height: 30px;
  }
}

@media (max-width: 1024px) {

  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* hero-1024 */

  .hero {
    background-image: url("../img/1024/hero-bg-image-1024.jpg");
    -webkit-animation: hero-bg-1024 9s infinite ease-in-out;
            animation: hero-bg-1024 9s infinite ease-in-out;
  }

  @-webkit-keyframes hero-bg-1024 {
    0% {
      background-image: url("../img/1024/hero-bg-image-1024.jpg");
    }

    33% {
      background-image: url("../img/1024/hero-bg-image-1024-2.jpg");
    }

    66% {
      background-image: url("../img/1024/hero-bg-image-1024-3.jpg");
    }

    100% {
      background-image: url("../img/1024/hero-bg-image-1024.jpg");
    }
  }

  @keyframes hero-bg-1024 {
    0% {
      background-image: url("../img/1024/hero-bg-image-1024.jpg");
    }

    33% {
      background-image: url("../img/1024/hero-bg-image-1024-2.jpg");
    }

    66% {
      background-image: url("../img/1024/hero-bg-image-1024-3.jpg");
    }

    100% {
      background-image: url("../img/1024/hero-bg-image-1024.jpg");
    }
  }

  .hero__container {
    padding-top: 112px;
    padding-bottom: 138px;
  }

  .hero__title {
    margin-bottom: 13px;
  }

  .hero__desc {
    margin-bottom: 155px;
    width: 71%;
  }

  /* about-1024 */

  .about__desc {
    width: 100%;
  }

  /* galery-1024 */

  .gallery {
    background-image: url("../img/1024/gallery-bg-image-1024.jpg");
  }

  .gallery__container {
    padding-bottom: 115px;
    height: 559px;
  }

  .left-block-gallery {
    padding-bottom: 0;
    min-width: 278px;
  }

  .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    background-color: #000;
  }

  .bottom-left-block-gallery__checkbox + .bottom-left-block-gallery__label::before {
    margin-right: 11px;
    width: 10px;
    height: 10px;
  }

  .swiper-gallery__btns {
    padding-left: 1px;
  }

  .swiper-gallery__slide {
    height: 72.5%;
  }

  /* catalog-1024 */

  .catalog__container {
    margin-bottom: 80px;
  }

  .catalog__desc {
    width: 100%;
  }

  .catalog__left-block {
    -ms-flex-preferred-size: 47.3%;
        flex-basis: 47.3%;
  }

  .catalog__right-block {
    -ms-flex-preferred-size: 47.4%;
        flex-basis: 47.4%;
  }

  .accordion-catalog__list {
    padding-right: 0;
  }

  .article-catalog__default-text {
    width: 95%;
    line-height: 22px;
  }

  /* events-1024 */

  .events__container {
    padding-right: 45px;
    margin-bottom: 62px;
  }

  .events__title {
    padding-left: 0;
  }

  .swiper-events {
    padding-right: 11px;
    padding-left: 0;
  }

  .swiper-events__wrapper {
    padding-bottom: 5.8%;
    min-height: 683px;
  }

  .swiper-events__article {
    padding-left: 33px;
  }

  .swiper-events__meta {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 4px;
    padding-right: 32px;
    width: 65%;
    text-align: right;
  }

  .swiper-events__title {
    margin-bottom: 4px;
  }

  .swiper-events__slide:nth-child(1) .swiper-events__article .swiper-events__title {
    margin-bottom: 7px;
  }

  .swiper-events__text {
    margin-bottom: 35px;
    width: 87%;
  }

  .swiper-events__more {
    bottom: 7.3%;
  }

  .swiper-events__button {
    display: none;
  }

  .swiper-events__pagination {
    display: block;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: -3px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px var(--swiper-pagination-bullet-horizontal-gap, 8px);
  }

  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size, 10px));
  }

  .swiper-pagination-bullet-active {
    background: #666;
  }

  /* projects-1024 */

  .projects__container {
    margin-bottom: 77px;
  }

  .projects__text {
    width: 100%;
  }

  .swiper-projects {
    padding-left: 53px;
    padding-right: 53px;
    height: 131px;
  }

  .swiper-projects__button {
    top: -9.2%;
  }

  .swiper-projects__button--prev {
    left: -1.1%;
  }

  .swiper-projects__button--next {
    right: -1.1%;
  }

  .swiper-projects__slide {
    height: 128px;
  }

  .swiper-projects__image--1 {
    max-width: 55%;
  }

  .swiper-projects__image--2 {
    max-width: 74%;
  }

  .swiper-projects__image--5 {
    max-width: 38%;
  }

  .swiper-projects__image--6 {
    max-width: 56%;
  }

  .swiper-projects__image--7 {
    max-width: 64%;
  }

  .swiper-projects__image--8 {
    max-width: 41%;
  }

  .swiper-projects__image--9 {
    max-width: 52%;
  }

  /* contacts-1024 */

  .contacts__container {
    padding-right: 48px;
    padding-left: 49px;
  }

  .form-contacts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .form-contacts__field {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 29.4%;
        flex-basis: 29.4%;
  }

  .form-contacts__input {
    margin-right: 0;
    min-width: 0;
  }

  .form-contacts__btn {
    padding: 13px 41px 12px 46px;
  }

  .contacts__subtitle {
    margin-bottom: 6px;
  }

  .contacts__link {
    margin-right: 16px;
  }

  /* footer-1024 */

  .footer__logo {
    padding-top: 10px;
  }

  .footer__container {
    padding-top: 39px;
    padding-bottom: 37px;
  }

  .footer__item:not(:last-child) {
    margin-right: 30px;
  }

  .footer__link svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 992px) {

  /* header-992 */

  .header__search {
    margin-right: 20px;
  }

  .header__nav.active {
    padding-left: 50px;
  }

  .search-header__icon {
    width: 28px;
    height: 28px;
  }

  .header__search.active {
    top: 21px;
    right: 0;
    left: -82.2%;
    z-index: 50;
    margin-right: 5px;
    padding: 15px 0;
    background-color: #000;
  }

  .header__form.active {
    right: 13.1%;
    width: 75.2%;
    z-index: 50;
  }

  .header__close svg {
    width: 28px;
    height: 28px;
  }

  .header__close.active {
    top: 34px;
    right: 6.5%;
    z-index: 50;
  }

  /* hero-992 */

  .hero {
    background-image: url("../img/768/hero-bg-image-768.jpg");
    -webkit-animation: hero-bg-768 9s infinite ease-in-out;
            animation: hero-bg-768 9s infinite ease-in-out;
  }

  @-webkit-keyframes hero-bg-768 {
    0% {
      background-image: url("../img/768/hero-bg-image-768.jpg");
    }

    33% {
      background-image: url("../img/768/hero-bg-image-768-2.jpg");
    }

    66% {
      background-image: url("../img/768/hero-bg-image-768-3.jpg");
    }

    100% {
      background-image: url("../img/768/hero-bg-image-768.jpg");
    }
  }

  @keyframes hero-bg-768 {
    0% {
      background-image: url("../img/768/hero-bg-image-768.jpg");
    }

    33% {
      background-image: url("../img/768/hero-bg-image-768-2.jpg");
    }

    66% {
      background-image: url("../img/768/hero-bg-image-768-3.jpg");
    }

    100% {
      background-image: url("../img/768/hero-bg-image-768.jpg");
    }
  }

  .hero__desc {
    width: 100%;
  }

  /* gallery-992 */

  .gallery {
    background-image: url("../img/768/gallery-bg-image-768.jpg");
  }

  .gallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 888px;
    padding-bottom: 28px;
  }

  .left-block-gallery {
    width: 278px;
  }

  .left-block-gallery__top {
    margin-bottom: 40px;
  }

  .swiper-gallery {
    padding-top: 0px;
    height: 441px;
  }

  .swiper-gallery__btns {
    margin-bottom: 28px;
  }

  .swiper-gallery__slide {
    height: 74.5%;
  }

  /* catalog-992 */

  .catalog__container {
    margin-bottom: 70px;
  }

  .catalog__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .catalog__desc {
    margin-bottom: 21px;
  }

  .accordion-catalog__content--active .accordion-catalog__wrapper {
    max-height: 337px;
  }

  .accordion-catalog__content--active .accordion-catalog__list {
    max-height: 315px;
  }

  .accordion-catalog__default-image {
    margin-right: 36px;
    width: 266px;
    height: 165px;
    outline-offset: 10px;
  }

  .accordion-catalog__default-text {
    width: 75%;
  }

  @-webkit-keyframes accordion-anim {
    0% {
      max-height: 0;
    }

    30% {
      display: block;
    }

    100% {
      max-height: 337px;
    }
  }

  @keyframes accordion-anim {
    0% {
      max-height: 0;

    }

    30% {
      display: block;
    }

    100% {
      max-height: 337px;
    }
  }

  .catalog__right-block {
    margin-bottom: 51px;
  }

  .article-catalog__default-text {
    width: 60%;
  }

  /* events-992 */

  .swiper-events__wrapper {
    padding-bottom: 8%;
  }

  .swiper-events {
    padding-right: 10px;
  }

  .swiper-events__article {
    padding-left: 36px;
  }

  .swiper-events__meta {
    padding-right: 18px;
    width: 60%;
    font-weight: 400;
  }

  .swiper-events__slide:nth-child(1) .swiper-events__article .swiper-events__title {
    margin-bottom: 4px;
  }

  /* project-992 */

  .projects__container {
    margin-bottom: 55px;
  }

  .projects__text {
    margin-bottom: 27px;
    width: 99%;
  }

  .projects__link--desctop {
    display: none;
  }

  .projects__link--tablet {
    display: inline-block;
  }

  .projects__subtitle {
    margin-bottom: 29px;
  }

  .swiper-projects__button {
    top: -17.5%;
  }

  .swiper-projects__button--prev {
    left: -1.4%;
  }

  .swiper-projects__button--next {
    right: -1.4%;
  }

  .swiper-projects__slide {
    height: 106px;
  }

  .swiper-projects__image--1 {
    max-width: 80%;
  }

  .swiper-projects__image--2 {
    max-width: 83%;
  }

  .swiper-projects__image--3,
  .swiper-projects__image--7 {
    max-width: 74%;
  }

  .swiper-projects__image--4 {
    padding-top: 15px;
    max-width: 40%;
  }

  .swiper-projects__image--5 {
    max-width: 46%;
  }

  .swiper-projects__image--6 {
    max-width: 68%;
  }

  .swiper-projects__image--8 {
    max-width: 54%;
  }

  .swiper-projects__image--9 {
    max-width: 70%;
  }

  /* contacts-992 */

  .form-contacts__field {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 12px;
  }

  .form-contacts__input {
    margin-right: 20px;
  }

  .contacts__container {
    padding-right: 30px;
    padding-left: 48px;
  }

  .form-contacts__btn {
    padding-right: 28px;
    padding-left: 31px;
  }
}

@media (max-width: 767px) {

  .hero__title {
    width: 100%;
    font-size: 52px;
    line-height: 59px;
  }

  .hero__desc {
    margin-bottom: 41px;
    font-size: 15px;
    line-height: 23px;
  }

  .accordion-catalog__list {
    max-height: 390px;
  }

  .accordion-catalog__content--active .accordion-catalog__wrapper {
    max-height: 460px;
  }

  .accordion-catalog__content--active .accordion-catalog__list {
    max-height: 460px;
  }

  @-webkit-keyframes accordion-anim {
    0% {
      max-height: 0;
    }

    30% {
      display: block;
    }

    100% {
      max-height: 460px;
    }
  }

  @keyframes accordion-anim {
    0% {
      max-height: 0;

    }

    30% {
      display: block;
    }

    100% {
      max-height: 460px;
    }
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 28px;
    line-height: 38px;
  }

  h4 {
    font-size: 18px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* header-576 */

  .header__top-block {
    padding-top: 12px;
    padding-bottom: 11px;
  }

  .header__burger {
    padding-top: 1px;
    height: 19px;
  }

  .header__burger.active {
    height: 26px;
  }

  .header__burger-line {
    width: 70%;
    height: 2px;
  }

  .header__burger.active .header__burger-line {
    top: -3px;
    right: -3px;
  }

  .header__burger-line:nth-child(2) {
    width: 16px;
  }

  .header__burger-line:nth-child(3) {
    width: 10px;
  }

  .header__burger.active .header__burger-line:nth-child(1) {
    width: 19px;
  }

  .header__burger.active .header__burger-line:nth-child(3) {
    width: 19px;
  }

  .header__nav.active {
    padding-top: 47px;
    padding-left: 15px;
    height: calc(100vh - 47px);
  }

  .login-header {
    padding: 10px 31px 10px 31px;
    font-size: 12px;
    line-height: 16px;
  }

  .login-header.active {
    margin-bottom: 28px;
    padding: 9px 32px 10px 30px;
    width: 115px;
  }

  .login-header__icon {
    padding-right: 4px;
    width: 16px;
    height: 16px;
  }

  .nav-header__link {
    font-size: 16px;
    line-height: 32px;
  }

  .header__search {
    top: 9px;
    right: -1.7%;
  }

  .header__search.active {
    top: 2px;
    left: -59.2%;
    margin-right: 0;
    padding-top: 38px;
  }

  .header__form {
    top: 2.5%;
    right: -71.5%;
  }

  .header__form.active {
    top: 30px;
    right: 20.1%;
    width: 56.2%;
  }

  .header__close.active {
    top: 15px;
    right: 4.8%;
  }

  .header__close svg {
    width: 15px;
    height: 15px;
  }

  .search-header__icon {
    width: 17px;
    height: 17px;
  }

  /* hero-576 */

  .hero {
    text-align: center;
    background-image: url("../img/320/hero-bg-image-320.jpg");
    -webkit-animation: hero-bg-320 9s infinite ease-in-out;
            animation: hero-bg-320 9s infinite ease-in-out;
  }

  @-webkit-keyframes hero-bg-320 {
    0% {
      background-image: url("../img/320/hero-bg-image-320.jpg");
    }

    33% {
      background-image: url("../img/320/hero-bg-image-320-2.jpg");
    }

    66% {
      background-image: url("../img/320/hero-bg-image-320-3.jpg");
    }

    100% {
      background-image: url("../img/320/hero-bg-image-320.jpg");
    }
  }

  @keyframes hero-bg-320 {
    0% {
      background-image: url("../img/320/hero-bg-image-320.jpg");
    }

    33% {
      background-image: url("../img/320/hero-bg-image-320-2.jpg");
    }

    66% {
      background-image: url("../img/320/hero-bg-image-320-3.jpg");
    }

    100% {
      background-image: url("../img/320/hero-bg-image-320.jpg");
    }
  }

  .hero__container {
    padding: 33px 28px 57px;
  }

  .hero__title {
    font-size: 32px;
    line-height: 37px;
  }

  .hero__desc {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__link {
    padding: 12px 17px 12px 20px;
    font-size: 12px;
    line-height: 16px;
  }

  /* about-576 */

  .about__container {
    margin-bottom: 40px;
    padding-top: 53px;
  }

  .about__title {
    line-height: 32px;
  }

  .about__desc {
    font-size: 14px;
    line-height: 28px;
  }

  /* gallery-576 */

  .gallery {
    background-image: url("../img/320/gallery-bg-image-320.jpg");
  }

  .gallery__container {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    padding-top: 50px;
    height: 800px;
  }

  .top-left-block-gallery__title {
    margin-bottom: 11px;
  }

  .top-left-block-gallery__label {
    margin-bottom: 6px;
  }

  .left-block-gallery {
    min-width: 288px;
  }

  .left-block-gallery__top {
    margin-bottom: 30px;
  }

  .left-block-gallery__bottom {
    margin-bottom: 30px;
  }

  .swiper-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 0;
    height: 419px;
  }

  .swiper-gallery__slide {
    height: 94.9%;
  }

  .swiper-gallery__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }

  /* catalog-576 */

  .catalog__container {
    margin-bottom: 51px;
    padding-top: 51px;
  }

  .catalog__right-block {
    margin-bottom: 50px;
  }

  .catalog__title {
    margin-bottom: 11px;
  }

  .catalog__desc {
    display: none;
  }

  .accordion-catalog__button {
    height: 72px;
  }

  .accordion-catalog__meta {
    font-size: 18px;
  }

  .accordion-catalog__content--active .accordion-catalog__wrapper {
    max-height: 825px;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }

  .accordion-catalog__content--active .accordion-catalog__list {
    margin-bottom: 7%;
    padding-top: 20px;
    max-height: 800px;
  }

  .accordion-catalog__default-block {
    justify-content: flex-start;
  }

  .accordion-catalog__default-image {
    margin-right: 31px;
    width: 79px;
    height: 118px;
    outline-offset: 4px;
  }

  .accordion-catalog__default-title {
    margin-bottom: 14px;
  }

  .accordion-catalog__default-text {
    margin-bottom: 6px;
    width: 102%;
  }

  @-webkit-keyframes accordion-anim {
    0% {
      max-height: 0;
    }

    30% {
      display: block;
    }

    100% {
      max-height: 825px;
    }
  }

  @keyframes accordion-anim {
    0% {
      max-height: 0;

    }

    30% {
      display: block;
    }

    100% {
      max-height: 825px;
    }
  }

  .accordion-catalog__icon {
    width: 30px;
    height: 30px;
  }

  .article-catalog__image {
    margin-bottom: 19px;
  }

  .article-catalog__title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .article-catalog__desc {
    padding-right: 1px;
  }

  .article-catalog__default-title {
    font-size: 24px;
  }

  .article-catalog__default-text {
    margin-bottom: 6px;
    width: 87%;
  }

  /* events-576 */

  .events__container {
    margin-bottom: 32px;
    padding-right: 7px;
  }

  .events__title {
    margin-bottom: 12px;
  }

  .swiper-events {
    padding-right: 10px;
  }

  .swiper-events__wrapper {
    padding-bottom: 15.1%;
  }

  .swiper-events__article {
    padding-top: 19px;
    padding-left: 22px;
  }

  .swiper-events__meta {
    margin-bottom: 9px;
    padding-right: 16px;
  }

  .swiper-events__title {
    width: 100%;
    font-size: 24px;
  }

  .swiper-events__slide:nth-child(1) .swiper-events__article .swiper-events__title {
    margin-bottom: 5px;
  }

  .swiper-events__more {
    left: 10%;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px var(--swiper-pagination-bullet-horizontal-gap, 7.5px);
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: -4px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 1.3%;
  }

  /* projects-576 */

  .projects__container {
    margin-bottom: 0;
  }

  .projects__title {
    margin-bottom: 12px;
  }

  .projects__text {
    margin-bottom: 8px;
    width: 100%;
  }

  .projects__subtitle {
    margin-bottom: 11px;
  }

  .projects__icon {
    top: -22%;
    left: -4%;
  }

  .swiper-projects {
    padding-right: 48px;
    padding-left: 47px;
    height: 70px;
  }

  .swiper-projects__button {
    top: -62.5%;
  }

  .swiper-projects__button--prev {
    left: -10px;
  }

  .swiper-projects__button--next {
    right: -10px;
  }

  .swiper-projects__slide {
    height: 65px;
  }

  .swiper-projects__image--1 {
    max-width: 105px;
  }

  .swiper-projects__image--2 {
    max-width: 141px;
  }

  .swiper-projects__image--3 {
    max-width: 117px;
  }

  .swiper-projects__image--4 {
    padding-top: 7px;
    max-width: 54px;
  }

  .swiper-projects__image--5 {
    max-width: 75px;
  }

  .swiper-projects__image--6 {
    max-width: 111px;
  }

  .swiper-projects__image--7 {
    max-width: 126px;
  }

  .swiper-projects__image--8 {
    max-width: 81px;
  }

  .swiper-projects__image--9 {
    max-width: 101px;
  }

  /* contacts-576 */

  .contacts__container {
    padding-bottom: 17px;
  }

  .contacts__top-block {
    border: none;
  }

  .contacts__address-block {
    padding-top: 10px;
  }

  .contacts__title {
    margin-bottom: -2px;
    line-height: 25px;
  }

  .contacts__address {
    margin-right: 0;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 19px;
  }

  .form-contacts {
    margin-bottom: 18px;
    padding-left: 0;
  }

  .form-contacts__field {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 13px;
  }

  .form-contacts__input {
    margin-right: 0;
    margin-bottom: 7px;
    padding: 10px 22px 10px 23px;
  }

  .contacts__subtitle {
    margin-bottom: 7px;
    font-weight: 400;
  }

  .contacts__icon {
    width: 50px;
    height: 50px;
  }

  .form-contacts__btn {
    display: none;
  }

  .form-contacts__btn--mobile {
    display: block;
    padding: 13px 35px 11px 35px;
    font-size: 12px;
    line-height: 16px;
  }

  .contacts__bottom-block {
    height: 320px;
  }

  .ymaps-2-1-79-map {
    height: 320px;
  }

  /* footer-576 */

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 19px;
    padding-bottom: 20px;
  }

  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__link svg {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    padding-top: 16px;
    width: 34%;
  }
}
