:root {
  --main-color: #fff;
  --text-color: #333;
  --border-color: #CACACA;
  --hover-color: #9D5CD0;
  --active-color: #7943A4;
  --other-color: #D1A9F0;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansRegular"),
    url("../fonts/OpenSansRegular.woff2"),
    url("../fonts/OpenSansRegular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansSemiBold"),
    url("../fonts/OpenSansSemiBold.woff2"),
    url("../fonts/OpenSansSemiBold.woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansBold"),
    url("../fonts/OpenSansBold.woff2"),
    url("../fonts/OpenSansBold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*:focus-visible {
  outline: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body.active {
  min-width: 320px;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h3 {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color);
}

h4 {
  margin: 0;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1650px;
}

/* header */

.header {
  background-color: #000;
}

.header__invinsible {
  display: none;
}

.header__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__burger {
  z-index: 40;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 7px;
  width: 35px;
  height: 34px;
}

.header__burger-line {
  position: relative;
  right: 0px;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.header__burger-line:nth-child(2) {
  width: 28px;
}

.header__burger-line:nth-child(3) {
  width: 24px;
}

.header__burger.active .header__burger-line:nth-child(2) {
  width: 0%;
}

.header__burger.active .header__burger-line:nth-child(1) {
  width: 36px;
  -webkit-transform: rotate(45deg) translate(6px, 12px);
  -ms-transform: rotate(45deg) translate(6px, 12px);
  transform: rotate(45deg) translate(6px, 12px);
}

.header__burger.active .header__burger-line:nth-child(3) {
  width: 36px;
  -webkit-transform: rotate(-45deg) translate(5px, -10px);
  -ms-transform: rotate(-45deg) translate(5px, -10px);
  transform: rotate(-45deg) translate(5px, -10px);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 78%;
  flex-basis: 78%;
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60.4%;
  flex-basis: 60.4%;
}

.nav-header__item:not(:last-child) {
  margin-right: auto;
}

.nav-header__link {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--main-color);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.login-header {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--main-color);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.login-header__icon {
  padding-right: 2px;
}

.header__bottom-block {
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
  padding-bottom: 17px;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  min-width: 64.8%;
}

.menu-item-header {
  position: relative;
}

.menu-item-header:not(:last-child) {
  margin-right: auto;
}

.menu-item-header__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--main-color);
  -webkit-transition-property: color, background-color, outline;
  -o-transition-property: color, background-color, outline;
  transition-property: color, background-color, outline;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.header__scrollbar {
  position: absolute;
  top: 46px;
  width: 300px;
  height: 300px;
}

.simplebar-track.simplebar-vertical {
  top: 36px;
  margin-right: 19px;
  width: 2px;
  height: 75%;
  visibility: visible;
  background: #000;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 1px;
  bottom: 1px;
}

.simplebar-scrollbar:before {
  right: 0;
  left: 0;
  border-radius: 0;
  background: var(--main-color);
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.dropdown-header {
  display: none;
  padding: 0 40px;
  max-height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-header__item {
  position: relative;
  padding: 10px 0;
  padding-left: 14px;
  width: 206px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--main-color);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: outline .3s ease-in-out;
  -o-transition: outline .3s ease-in-out;
  transition: outline .3s ease-in-out;
}

.dropdown-header__item a {
  display: block;
  height: 100%;
}

.dropdown-header__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-linear-gradient(bottom, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(194, 131, 243, 0.4)), to(rgba(194, 131, 243, 0.4)));
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  opacity: 0;
  -webkit-transition-property: opacity, outline;
  -o-transition-property: opacity, outline;
  transition-property: opacity, outline;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.dropdown-header__item--image-1 {
  background-image: url("../img/1920/hero-dd1-tintoretto.jpg");
}

.dropdown-header__item--image-2 {
  background-image: url("../img/1920/hero-dd1-friedrich.jpg");
}

.dropdown-header__item--image-3 {
  background-image: url("../img/1920/hero-dd1-leonardo.jpg");
}

.dropdown-header__item--image-4 {
  background-image: url("../img/1920/hero-dd1-verrocchio.jpg");
}

.dropdown-header__item--image-5 {
  background-image: url("../img/1920/hero-dd2-monet.jpg");
}

.dropdown-header__item--image-6 {
  background-image: url("../img/1920/hero-dd2-sisley.jpg ");
}

.dropdown-header__item--image-7 {
  background-image: url("../img/1920/hero-dd2-manet.jpg");
}

.dropdown-header__item--image-8 {
  background-image: url("../img/1920/hero-dd2-renoir.jpg");
}

.dropdown-header__item--image-9 {
  background-image: url("../img/1920/hero-dd3-van-gogh.jpg");
}

.dropdown-header__item--image-10 {
  background-image: url("../img/1920/hero-dd3-cezanne.jpg");
}

.dropdown-header__item--image-11 {
  background-image: url("../img/1920/hero-dd3-gauguin.jpg");
}

.dropdown-header__item--image-12 {
  background-image: url("../img/1920/hero-dd3-seurat.jpg");
}

.dropdown-header__item--image-13 {
  background-image: url("../img/1920/hero-dd4-kandinsky.jpg");
}

.dropdown-header__item--image-14 {
  background-image: url("../img/1920/hero-dd4-marinetti.jpg");
}

.dropdown-header__item--image-15 {
  background-image: url("../img/1920/hero-dd4-malewicz.jpg");
}

.dropdown-header__item--image-16 {
  background-image: url("../img/1920/hero-dd4-picasso.jpg");
}

.dropdown-header__item--image-17 {
  background-image: url("../img/1920/hero-dd5-carra.jpg");
}

.dropdown-header__item--image-18 {
  background-image: url("../img/1920/hero-dd5-pratella.jpg");
}

.dropdown-header__item--image-19 {
  background-image: url("../img/1920/hero-dd5-severini.jpg");
}

.dropdown-header__item--image-20 {
  background-image: url("../img/1920/hero-dd5-balla.jpg");
}

.dropdown-header__item:not(:last-child) {
  margin-bottom: 21px;
}

.dropdown-header--active {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  max-height: 100%;
  -webkit-animation: dropdown-anim .3s linear;
  animation: dropdown-anim .3s linear;
}

@-webkit-keyframes dropdown-anim {
  0% {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
  }

  50% {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 50%;
  }

  100% {
    padding-top: 40px;
    padding-bottom: 40px;
    max-height: 100%;
  }
}

@keyframes dropdown-anim {
  0% {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
  }

  50% {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 50%;
  }

  100% {
    padding-top: 40px;
    padding-bottom: 40px;
    max-height: 100%;
  }
}

.header__form {
  position: relative;
  padding-top: 4px;
  padding-bottom: 21px;
  height: 21px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  -webkit-transition: border .3s ease-in-out;
  -o-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}

.header__search {
  margin-right: 10px;
  padding-top: 4px;
}

.header__input {
  padding: 0;
  width: 218px;
  border: none;
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.header__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header__input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header__close {
  display: none;
}

.nav-header__link::before,
.login-header::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background-color: var(--hover-color);
  opacity: 0;
  -webkit-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.nav-header__link:focus-visible::before,
.login-header:focus-visible::before {
  opacity: 1;
}

.menu-item-header__btn:focus-visible {
  outline: 5px solid var(--hover-color);
  background-color: var(--hover-color);
}

.nav-header__link:hover:not(:focus-visible),
.login-header:hover:not(:focus-visible),
.menu-item-header__btn:hover:not(:focus-visible) {
  color: var(--hover-color);
}

.login-header__icon path {
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.login-header:hover:not(:focus-visible) .login-header__icon path {
  fill: var(--hover-color);
}

.menu-item-header__icon path {
  -webkit-transition: stroke .3s ease-in-out;
  -o-transition: stroke .3s ease-in-out;
  transition: stroke .3s ease-in-out;
}

.menu-item-header__btn:hover:not(:focus-visible) .menu-item-header__icon path {
  stroke: var(--hover-color);
}

.nav-header__link:active:not(:focus-visible),
.login-header:active:not(:focus-visible),
.menu-item-header__btn:active:not(:focus-visible) {
  color: var(--active-color);
}

.login-header:active:not(:focus-visible) .login-header__icon path {
  fill: var(--active-color);
}

.menu-item-header__btn:active:not(:focus-visible) .menu-item-header__icon {
  -webkit-transform: rotate(-0.5turn);
  -ms-transform: rotate(-0.5turn);
  transform: rotate(-0.5turn);
}

.menu-item-header__btn:active:not(:focus-visible) .menu-item-header__icon path {
  stroke: var(--active-color);
}

.header__form:focus-within,
.header__form:hover:not(:focus-within) {
  border-bottom: 1px solid var(--hover-color);
}

.header__form:active:not(:focus-visible) {
  border-bottom: 1px solid var(--active-color);
}

.header__form:active:not(:focus-visible) .header__input::-webkit-input-placeholder {
  opacity: 0;
}

.header__form:active:not(:focus-visible) .header__input::-moz-placeholder {
  opacity: 0;
}

.header__form:active:not(:focus-visible) .header__input:-ms-input-placeholder {
  opacity: 0;
}

.header__form:active:not(:focus-visible) .header__input::-ms-input-placeholder {
  opacity: 0;
}

.header__form:active:not(:focus-visible) .header__input::placeholder {
  opacity: 0;
}

.dropdown-header__item:focus-within,
.dropdown-header__item:hover:not(:focus-within) {
  outline: 2px solid var(--hover-color);
}

.dropdown-header__item:active:not(:focus-visible)::before {
  z-index: 0;
  outline: 2px solid var(--other-color);
  opacity: 1;
}

/* hero */

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  -webkit-animation: hero-bg 9s infinite ease-in-out;
  animation: hero-bg 9s infinite ease-in-out;
}

@-webkit-keyframes hero-bg {
  0% {
    background-image: url("../img/1920/hero-bg-image-1920.jpg");
  }

  33% {
    background-image: url("../img/1920/hero-bg-image-1920-2.jpg");
  }

  66% {
    background-image: url("../img/1920/hero-bg-image-1920-3.jpg");
  }

  100% {
    background-image: url("../img/1920/hero-bg-image-1920.jpg");
  }
}

@keyframes hero-bg {
  0% {
    background-image: url("../img/1920/hero-bg-image-1920.jpg");
  }

  33% {
    background-image: url("../img/1920/hero-bg-image-1920-2.jpg");
  }

  66% {
    background-image: url("../img/1920/hero-bg-image-1920-3.jpg");
  }

  100% {
    background-image: url("../img/1920/hero-bg-image-1920.jpg");
  }
}

.hero__container {
  padding-top: 140px;
  padding-bottom: 145px;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  width: 36%;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: var(--main-color);
}

.hero__desc {
  margin: 0;
  margin-bottom: 114px;
  width: 35%;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-color);
}

.hero__link {
  padding: 22px 36px 23px 35px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--main-color);
  background-color: var(--hover-color);
  -webkit-transition-property: background-color, outline, outline-offset;
  -o-transition-property: background-color, outline, outline-offset;
  transition-property: background-color, outline, outline-offset;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.hero__link:focus-within {
  outline: 2px solid #C283F3;
  outline-offset: 5px;
}

.hero__link:hover:not(:focus-within) {
  outline: 3px solid var(--other-color);
}

.hero__link:active:not(:focus-within) {
  outline: 3px solid var(--other-color);
  background-color: var(--active-color);
}

/* about */

.about__container {
  margin-bottom: 70px;
  padding-top: 80px;
}

.about__desc {
  margin: 0;
  width: 68%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

/* galery */

.gallery {
  background-image: url("../img/1920/gallery-bg-image-1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 595px;
  padding-top: 80px;
  padding-bottom: 55px;
}

.left-block-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 52px;
  padding-bottom: 25px;
  width: 398px;
}

.left-block-gallery__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.top-left-block-gallery__title {
  color: var(--main-color);
}

.top-left-block-gallery__label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color);
}

.choices {
  overflow: visible;
}

.choices__inner {
  max-width: 398px;
  min-height: 38px;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices[data-type*=select-one]::after {
  content: url("../img/1920/gallery-select-close-icon.svg");
  top: 33%;
  right: 22px;
  border: none;
}

.choices[data-type*=select-one].is-open::after {
  content: url("../img/1920/gallery-select-open-icon.svg");
  top: 45%;
  border: none;
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices__list--single {
  padding: 0;
}

.choices__list--single .choices__item {
  padding: 2px 0 4px 15px;
  width: 100%;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border-radius: 6px;
  border: 1px solid #999;
  background-color: transparent;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 2px 0 4px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.choices__list--dropdown .choices__item:not(:last-child),
.choices__list[aria-expanded] .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices:focus-visible .choices__inner,
.choices:hover:not(:focus-visible) .choices__inner,
.choices:active:not(:focus-visible) .choices__inner {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-highlighted,
.choices__item {
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.is-highlighted,
.choices__item:hover,
.choices__item:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.left-block-gallery__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bottom-left-block-gallery__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.bottom-left-block-gallery__checkbox+.bottom-left-block-gallery__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color);
  cursor: pointer;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.bottom-left-block-gallery__checkbox+.bottom-left-block-gallery__label::before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid var(--main-color);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}

.bottom-left-block-gallery__checkbox:checked+.bottom-left-block-gallery__label::before,
.bottom-left-block-gallery__checkbox:active:not(:focus-visible)+.bottom-left-block-gallery__label::before {
  background-image: url("../img/1920/gallery-checkbox.svg");
  border-color: #C283F3;
}

.bottom-left-block-gallery__checkbox:checked+.bottom-left-block-gallery__label {
  color: #C283F3;
}

.bottom-left-block-gallery__checkbox:focus-visible+.bottom-left-block-gallery__label::before,
.bottom-left-block-gallery__checkbox:hover:not(:focus-visible)+.bottom-left-block-gallery__label::before {
  border-color: #C283F3;
}

.bottom-left-block-gallery__checkbox:focus-visible+.bottom-left-block-gallery__label,
.bottom-left-block-gallery__checkbox:hover:not(:focus-visible)+.bottom-left-block-gallery__label,
.bottom-left-block-gallery__checkbox:active:not(:focus-visible)+.bottom-left-block-gallery__label {
  color: #C283F3;
}

.swiper-gallery {
  margin-left: 0;
  margin-right: 0;
  padding-top: 25px;
  max-width: 1150px;
  height: 460px;
  overflow: hidden;
}

.swiper-gallery__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 28px;
  padding-left: 3px;
}

.swiper-gallery__button {
  height: 30px;
  border-radius: 50%;
  outline: 2px solid #666;
  outline-offset: -2px;
  -webkit-transition: outline .3s ease-in-out;
  -o-transition: outline .3s ease-in-out;
  transition: outline .3s ease-in-out;
}

.swiper-gallery__button.swiper-button-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.swiper-gallery__button--prev {
  margin-right: 10px;
}

.swiper-gallery__pagination {
  margin-right: 10px;
  max-width: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color);
}

.swiper-gallery__button svg {
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.swiper-gallery__button:hover:not(:focus-visible) {
  outline: 2px solid var(--hover-color);
}

.swiper-gallery__button:hover:not(:focus-visible) svg path {
  fill: var(--hover-color);
}

.swiper-gallery__button:focus-visible,
.swiper-gallery__button:active:not(:focus-visible) {
  outline: 2px solid #000;
}

.swiper-gallery__button:active:not(:focus-visible) svg path {
  fill: var(--active-color);
}

.swiper-gallery__slide {
  position: relative;
  height: 80.5%;
  -webkit-transition-property: outline, outline-offset;
  -o-transition-property: outline, outline-offset;
  transition-property: outline, outline-offset;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.swiper-gallery__image--img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
}

.swiper-gallery__slide::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/1920/gallery-swiper-hover-active.svg");
  opacity: 0;
  -webkit-transition-property: opacity, z-index;
  -o-transition-property: opacity, z-index;
  transition-property: opacity, z-index;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.swiper-gallery__slide::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 2px solid var(--other-color);
  outline-offset: -2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(194, 131, 243, 0.4)), to(rgba(194, 131, 243, 0.4)));
  background: -o-linear-gradient(bottom, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.swiper-gallery__slide:focus-visible {
  outline: 3px solid var(--active-color);
  outline-offset: -3px;
}

.swiper-gallery__slide:hover:not(:focus-visible)::before,
.swiper-gallery__slide:active:not(:focus-visible)::before {
  opacity: 1;
  z-index: 1;
}

.swiper-gallery__slide:active:not(:focus-visible)::after {
  opacity: 1;
}

/* catalog */

.catalog__container {
  margin-bottom: 81px;
  padding-top: 80px;
}

.catalog__desc {
  margin: 0;
  margin-bottom: 39px;
  width: 68%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog__left-block {
  display: none;
  -ms-flex-preferred-size: 46.9%;
  flex-basis: 46.9%;
}

.catalog__left-block--active {
  display: block;
}

.catalog__right-block {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.article-catalog__image {
  margin-bottom: 30px;
  max-height: 470px;
  width: 100%;
}

.article-catalog__title {
  margin-bottom: 9px;
}

.article-catalog__meta {
  display: block;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.article-catalog__desc {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.article-catalog__default-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.article-catalog__default-title {
  margin-bottom: 8px;
}

.article-catalog__default-text {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.article-catalog__default-link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--hover-color);
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.accordion-catalog__content {
  border-top: 1px solid var(--border-color);
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}

.accordion-catalog__button {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 114px;
}

.accordion-catalog__button:last-child {
  height: 0;
}

.accordion-catalog__meta {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.accordion-catalog__wrapper {
  max-height: 0;
  overflow: hidden;
}

.accordion-catalog__list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 3.1%;
  padding-right: 69px;
  max-height: 315px;
  border-top: 1px solid var(--border-color);
  transition: border-color .3s ease-in-out;
}

.accordion-catalog__icon {
  -webkit-transition-property: outline, outline-offset, -webkit-transform;
  transition-property: outline, outline-offset, -webkit-transform;
  -o-transition-property: outline, outline-offset, transform;
  transition-property: outline, outline-offset, transform;
  transition-property: outline, outline-offset, transform, -webkit-transform;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.accordion-catalog__icon path {
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.accordion-catalog__tabs-btn {
  border-bottom: 1px solid #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
  -webkit-transition-property: background-color, color, border-color;
  -o-transition-property: background-color, color, border-color;
  transition-property: background-color, color, border-color;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.accordion-catalog__tabs-btn:focus-visible {
  color: var(--main-color);
  background-color: var(--hover-color);
}

.accordion-catalog__tabs-btn:hover:not(:focus-visible) {
  border-color:var(--hover-color);
  color: var(--hover-color);
}

.accordion-catalog__tabs-btn:active:not(:focus-visible) {
  border: none;
  color: var(--active-color);
}

.accordion-catalog__default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 11px;
  padding-left: 12px;
}

.accordion-catalog__default-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 30px;
  width: 60%;
}

.accordion-catalog__default-image {
  margin-right: 36px;
  margin-bottom: 11px;
  width: 251px;
  height: 165px;
  background-color: #B7B7B7;
  outline: 2px solid #B7B7B7;
  outline-offset: 10px;
}

.accordion-catalog__default-title {
  margin-bottom: 4px;
  line-height: 32px;
}

.accordion-catalog__default-text {
  margin-bottom: 4px;
  width: 65%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
}

.accordion-catalog__default-link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--hover-color);
}

.accordion-catalog__content--active .accordion-catalog__wrapper {
  max-height: 340px;
  -webkit-animation: accordion-anim .5s ease-in-out;
  animation: accordion-anim .5s linear;
}

.accordion-catalog__content--active .accordion-catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  max-height: 315px;
}

@-webkit-keyframes accordion-anim {
  0% {
    max-height: 0;
  }

  30% {
    display: block;
  }

  100% {
    max-height: 315px;
  }
}

@keyframes accordion-anim {
  0% {
    max-height: 0;

  }

  30% {
    display: block;
  }

  100% {
    max-height: 315px;
  }
}

.accordion-catalog__content:focus-within:not(:active):not(.accordion-catalog__content--active) .accordion-catalog__meta {
  background-color: var(--hover-color);
  color: var(--main-color);
}

.accordion-catalog__content:focus-within:not(:active):not(.accordion-catalog__content--active) .accordion-catalog__icon path,
.accordion-catalog__content:hover:not(:focus-within):not(.accordion-catalog__content--active) .accordion-catalog__icon path {
  fill: var(--other-color);
}

.accordion-catalog__content:hover:not(:focus-within):not(.accordion-catalog__content--active) .accordion-catalog__meta {
  color: var(--hover-color);
}

.accordion-catalog__content:hover:not(:focus-within):not(.accordion-catalog__content--active),
.accordion-catalog__content:hover:not(:focus-within):not(.accordion-catalog__content--active) + .accordion-catalog__content {
  border-color: var(--hover-color);
}

.accordion-catalog__content--active,
.accordion-catalog__content--active .accordion-catalog__list,
.accordion-catalog__content:active:not(.accordion-catalog__content--active),
.accordion-catalog__content:active:not(.accordion-catalog__content--active) + .accordion-catalog__content {
  border-color: var(--active-color);
}

.accordion-catalog__content--active .accordion-catalog__meta,
.accordion-catalog__content:active:not(.accordion-catalog__content--active) .accordion-catalog__meta {
  color: var(--hover-color);
}

.accordion-catalog__content--active .accordion-catalog__icon path,
.accordion-catalog__content:active:not(.accordion-catalog__content--active) .accordion-catalog__icon path {
  fill: var(--other-color);
}

.accordion-catalog__content--active .accordion-catalog__icon,
.accordion-catalog__content:active:not(.accordion-catalog__content--active) .accordion-catalog__icon {
  outline: 2px solid var(--active-color);
  outline-offset: -2px;
  border-radius: 50%;
}

.accordion-catalog__content--active .accordion-catalog__icon,
.accordion-catalog__content:active:not(.accordion-catalog__content--active) .accordion-catalog__icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.article-catalog__default-link:focus-visible,
.accordion-catalog__default-link:focus-visible {
  background-color: var(--hover-color);
  color: var(--main-color);
}

.article-catalog__default-link:hover:not(:focus-visible),
.accordion-catalog__default-link:hover:not(:focus-visible) {
  color: var(--active-color);
}

.article-catalog__default-link:active:not(:focus-visible),
.accordion-catalog__default-link:active:not(:focus-visible) {
  color: var(--text-color);
}

/* events */

.events__container {
  margin-bottom: 75px;
  padding: 0;
  padding-bottom: 5px;
}

.events__title {
  padding-left: 25px;
}

.swiper-events {
  position: relative;
  padding-right: 31px;
  padding-left: 25px;
  overflow: hidden;
}

.swiper-events__wrapper {
  min-height: 700px;
}

.swiper-events__slide {
  height: auto;
  border: 1px solid var(--border-color);
}

.swiper-events__image {
  width: 100%;
  max-height: 300px;
}

.swiper-events__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 15px;
  padding-left: 50px;
  min-height: 385px;
}

.swiper-events__meta {
  margin-bottom: 11px;
  width: 35%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.swiper-events__title {
  margin-bottom: 10px;
  width: 88%;
}

.swiper-events__slide:nth-child(1) .swiper-events__article .swiper-events__title {
  margin-bottom: 3px;
}

.swiper-events__text {
  margin: 0;
  margin-bottom: 65px;
  width: 90%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.swiper-events__more {
  position: absolute;
  bottom: 6%;
  border-bottom: 1px solid var(--hover-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--hover-color);
  -webkit-transition-property: border-bottom, color;
  -o-transition-property: border-bottom, color;
  transition-property: border-bottom, color;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.swiper-events__more::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background-color: var(--hover-color);
  opacity: 0;
  -webkit-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.swiper-events__pagination {
  display: none;
}

.swiper-events__more:focus-visible {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

.swiper-events__more:focus-visible::before {
  opacity: 1;
}

.swiper-events__more:hover:not(:focus-visible) {
  border-bottom: 1px solid var(--active-color);
  color: var(--active-color);
}

.swiper-events__more:active:not(:focus-visible) {
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
}

.swiper-events__button--prev {
  position: absolute;
  top: 46.4%;
  left: 0;
  z-index: 20;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.swiper-events__button--next {
  position: absolute;
  top: 46.4%;
  right: 0;
  z-index: 20;
}

.swiper-events__button.swiper-button-disabled {
  visibility: hidden;
}

.swiper-events__button:hover:not(:focus-visible) svg,
.swiper-events__button:active:not(:focus-visible) svg {
  fill: var(--other-color);
}

.swiper-events__button:focus-visible svg path:nth-child(2),
.swiper-events__button:active:not(:focus-visible) svg path:nth-child(2) {
  stroke: var(--hover-color);
}

/* projects */

.projects__container {
  margin-bottom: 75px;
}

.projects__text {
  margin: 0;
  margin-bottom: 18px;
  width: 67%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.projects__button {
  position: relative;
  width: 16px;
  height: 18px;
}

.projects__icon {
  position: absolute;
  top: -27%;
  left: -10%;
  -webkit-transition-property: outline, fill;
  -o-transition-property: outline, fill;
  transition-property: outline, fill;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.tippy-box[data-theme~='custom'] {
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: var(--hover-color);
  border-radius: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--main-color);
}

.tippy-box[data-theme~='custom'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: var(--hover-color);
}

.projects__icon:focus {
  outline: 0;
}

.projects__icon:focus-visible,
.projects__icon:hover:not(:focus-visible) {
  fill: var(--other-color);
}

.projects__icon:active:not(:focus-visible) {
  outline: 0;
  fill: var(--active-color);
}

.projects__icon:active:not(:focus-visible) path:nth-child(2) {
  fill: var(--main-color);
}

.projects__link {
  position: relative;
  display: inline-block;
  color: var(--hover-color);
  border-bottom: 1px solid #fff;
  -webkit-transition-property: color, border;
  -o-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.projects__link--tablet {
  display: none;
}

.projects__link--mobile {
  display: none;
}

.projects__link::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background-color: var(--hover-color);
  opacity: 0;
  -webkit-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.projects__link:focus-visible {
  color: var(--main-color);
}

.projects__link:focus-visible::before {
  opacity: 1;
}

.projects__link:hover:not(:focus-visible) {
  border-color: var(--hover-color);
}

.projects__link:active:not(:focus-visible) {
  color: var(--active-color);
  border-color: var(--active-color);
}

.projects__subtitle {
  margin-bottom: 23px;
  line-height: 32px;
}

.swiper-projects {
  position: relative;
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 75px;
  height: 155px;
  overflow: hidden;
}

.swiper-projects__wrapper {
  box-sizing: border-box;
}

.swiper-projects__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 150px;
  border: 1px solid var(--border-color);
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}

.swiper-projects__image {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.4;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: filter, opacity;
  transition-property: filter, opacity;
  transition-property: filter, opacity, -webkit-filter;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.swiper-projects__button {
  position: absolute;
  top: -0.4%;
  z-index: 20;
  width: 50px;
  height: 155px;
  background: #fff;
}

.swiper-projects__button--prev {
  left: -0.6%;
}

.swiper-projects__button--next {
  right: -0.6%;
}

.swiper-projects__slide:focus-visible {
  border-color: var(--hover-color);
}

.swiper-projects__slide:hover:not(:focus-visible) .swiper-projects__image {
  filter: grayscale(0);
  opacity: 1;
}

.swiper-projects__slide:active:not(:focus-visible) {
  border-color: var(--hover-color);
}

.swiper-projects__slide:active:not(:focus-visible) .swiper-projects__image {
  filter: grayscale(0);
  opacity: 1;
}

.swiper-projects__button:focus-visible svg path:nth-child(2),
.swiper-projects__button:active:not(:focus-visible) svg path:nth-child(2) {
  stroke: var(--hover-color);
}

.swiper-projects__button:hover:not(:focus-visible) svg,
.swiper-projects__button:active:not(:focus-visible) svg {
  fill: var(--other-color);
}

.swiper-projects__button.swiper-button-disabled {
  z-index: -1;
  cursor: not-allowed;
}

.swiper-projects__button.swiper-button-disabled svg path:nth-child(3) {
  stroke: #BBB;
}

/* contacts */

.contacts__top-block {
  border: 1px solid var(--border-color);
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}

.contacts__address-block {
  padding-top: 7px;
}

.contacts__title {
  margin-bottom: 3px;
  line-height: 32px;
}

.contacts__address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.form-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-contacts__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.form-contacts__input {
  margin-right: 20px;
  padding: 15px 56px 15px 24px;
  min-width: 244px;
  border: 1px solid var(--text-color);
  border-radius: 100px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.form-contacts__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.form-contacts__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.form-contacts__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.form-contacts__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.form-contacts__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.js-validate-error-label {
  position: absolute;
  top: -33%;
  left: 8%;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #D11616;
}

.js-validate-error-field {
  border-color: #D11616;
}

.form-contacts__btn {
  padding: 14px 36px 11px 36px;
  outline: 2px solid var(--hover-color);
  outline-offset: -2px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--hover-color);
  -webkit-transition-property: color, background-color, outline, outline-offset;
  -o-transition-property: color, background-color, outline, outline-offset;
  transition-property: color, background-color, outline, outline-offset;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.form-contacts__btn--mobile {
  display: none;
}

.contacts__messangers-block {
  padding-top: 2px;
}

.contacts__subtitle {
  margin-bottom: 5px;
  line-height: 32px;
}

.contacts__link {
  margin-right: 17px;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.contacts__bottom-block {
  margin: 0 auto;
  max-width: 1920px;
  height: 701px;
}

[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.form-contacts__input:focus-visible,
.form-contacts__input:hover:not(:focus-visible) {
  background-color: #EAEAEA;
}

.form-contacts__btn:focus-visible {
  outline: 2px solid #C283F3;
  outline-offset: 5px;
}

.form-contacts__btn:hover:not(:focus-visible) {
  color: var(--main-color);
  background-color: var(--hover-color);
}

.form-contacts__btn:active:not(:focus-visible) {
  outline: 3px solid var(--other-color);
  color: var(--main-color);
  background-color: var(--hover-color);
}

.contacts__link:focus-visible,
.contacts__link:hover:not(:focus-visible) {
  opacity: 0.5;
}

.contacts__link:active:not(:focus-visible) {
  opacity: 1;
}

.contacts__link svg {
  -webkit-transition-property: outline, outline-offset;
  -o-transition-property: outline, outline-offset;
  transition-property: outline, outline-offset;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.contacts__link:active:not(:focus-visible) svg {
  outline: 1px solid #9643A4;
  outline-offset: -2px;
  border-radius: 50%;
}

/* footer */

.footer {
  background-color: #000;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 45px;
}

.footer__logo {
  padding-top: 3px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link svg path {
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.footer__link:focus-visible svg path,
.footer__link:hover:not(:focus-visible) svg path {
  fill: var(--main-color);
}

.footer__link:active:not(:focus-visible) svg path {
  fill: var(--hover-color)
}
